# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

/.env
/config/database.yml
/config/secrets.yml

/db/*.sql
!/db/structure.sql

/public/uploads/
/lib/assets/data/
.idea/
