/*
 *= require jquery.datetimepicker
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.flash {
  .alert.notice {
    @extend .alert-warning;
  }
  .alert.alert {
    @extend .alert-danger;
  }
}

.radio_buttons {
  .radio {
    display: inline;
    margin-left: 20px;
  }
}

#fullcalendar {
  .fc-button-group, button {
    display: block;
  }
}

@media (max-width: 768px) {
  .table-index {
    .extra {
      display: none;
    }
  }
}
