/*
 *= require jquery.datetimepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.flash {
  .alert.notice {
    @extend .alert-warning;
  }
  .alert.alert {
    @extend .alert-danger;
  }
}

.radio_buttons {
  .radio {
    display: inline;
    margin-left: 20px;
  }
}
