/*
 *= require jquery-ui
 *= require jquery.datetimepicker
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "animation";

.flash {
  .alert.notice {
    @extend .alert-warning;
  }
  .alert.alert {
    @extend .alert-danger;
  }
}

.radio_buttons {
  .radio {
    display: inline;
    margin-left: 20px;
  }
}

#fullcalendar {
  .fc-button-group, button {
    display: block;
  }
}

@media (max-width: 768px) {
  .table-index {
    .extra {
      display: none;
    }
  }
}

textarea.notes {
  font-family: "Courier New", Courier, monospace;
}

#notes_entry_editor {
  min-height: 400px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#spinner {
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  font-size: 1.5em;
  display: none;
}
