.form-group.text.optional.notes_entry_body
  label.text.optional.control-label for='notes_entry_body' Body
  textarea#notes_entry_body.text.optional.notes.form-control name='notes_entry[body]' rows=10 = @notes_entry.body
